html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
}

lord-icon {
    display: inline-block;
    width: min(256px, 50vh, 100%);
    height: auto;
    max-width: 100%;
    aspect-ratio: 1;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.row:nth-child(1n) {
    background-color: var(--palette-bg-1);
}

.row:nth-child(2n) {
    background-color: var(--palette-bg-2);
}

.row:nth-child(3n) {
    background-color: var(--palette-bg-3);
}

a {
    background: var(--palette-primary);
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
}